<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Fruitree</h1>
		
		<h2>A community fruit tree mapper and shop for everything fruit picking</h2>
		<%= image_tag("jumbotree.png", class: "img-responsive jumbotree center-block") %>
	</div>
</div>

<%= image_tag("fruitrake.jpeg", class: "img-responsive products") %>

