<div class="jumbotron">
	<div class="container splash">
		<h1>Welcome to Fruitree</h1>
		<div class="row space">
			<div class="col-sm-12">

				<h2>A community mapper and shop for everything foraging</h2>
			</div>
		</div>
		
	</div>
</div>



