<div class="container">
	<h1>new recipes page to hold form</h1>
</div>

<div class="container">
	<%= render 'form' %>
</div>

<br>
<div class="container">
	<%= link_to 'Back', recipes_path, class: "btn btn-default" %>
</div>