<div class="container space">
	<h1>Editing User</h1>

	<div class="row space">
		<div class="col-sm-6">
			<%= render 'form' %>
		</div>
	</div>
</div>

<div class="container space">
	<%= link_to 'Back', @user %>
</div>
