// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 130px; /*prevents fixed navbar from overlapping divs below */
}

a {
	font-size: 1.25em;
}

.pagination a {
	font-size: 1em;
}

.space {
	padding-top: 40px;
	padding-bottom: 20px;
}

.space2 {
	padding-top: 15px;
	padding-bottom: 15px;
}

/***navbar*///
.topNav .navbar {
	padding-top: 15px;
	padding-bottom: 20px;
}

.topNav .row {
	padding-left: 15px;
	padding-right: 15px;
}

.topNav .navbar-default {
	border-top: none;
	border-bottom: 3px solid #0b8044;
	background-color: #fff;
}

.topNav .navbar .navLinks li {
	border-right: 1px solid #0b8044;
}

.topNav .navbar .navLinks li:last-child {
	border: none;
}

.topNav .navbar li:hover {
	background: rgba(246,241,237,0.06);
}

.navbar-default .navbar-brand {
	color: #0b8044;
}

.logoName {
	font-size: 1.25em;
	padding-left: 10px;
	vertical-align: text-bottom;
}
.navbar {
	margin-bottom: 0;
}

.lowerNav .signedIn {
	width: 300px;
}

.lowerNav .dropdown-menu li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.lowerNav .dropdown-menu a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.login {
	text-align: right;
}

.navbar-form {
	margin-top: 25px;
	text-align: right;
}



.jumbotron {
	text-align: center;
	background-image: url(fruit_splash.jpg);
	color: #fff;
}

.jumbotron h1 {
	letter-spacing: .05em;
}

.splash {
	padding-top: 150px;
	padding-bottom: 250px;
} 

/***Products***/

/*clamp product description*/
#clampDescription {
	white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-height: 300px;
}

/*restrict product height*/
.products {
	max-height: 200px;
}

.thumbnail {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 0;
}

.thumbnail .captionColor {
	background-color: #fdfdfd;
}

.paddingBottom {
	padding-bottom: 60px;
}

/***forms***/

label {
	font-size: 18px;
	vertical-align: bottom;
}

label.required:after {
	content:" *";
}

/*rating*/
.rated {
	padding-bottom: 20px;
}

/***flash alerts***/

.alert {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 .glyphicon-remove {
 	padding-left: 15px;
 	vertical-align: text-bottom;
 	font-size: 1.2em;
 }

/***footer***/
.footer .navbar {
	border: none;
	border-top: 3px solid #0b8044;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 150px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.footer .row {
	padding-bottom: 10px;
}

.footpad {
	padding-top: 10px;
}

.copyright p{
	text-align: right;
	font-size: 1em;
}

.carousel-indicators li {
	background-color: #000;
}

.carousel-indicators .active {
	background-color: green;
}

.carousel-inner>.item>img {
	margin: 0 auto;
}

@media screen and (min-width: 768px) {
	.jumbotron .h1, .jumbotron h1 {
    font-size: 80px;
  }

	.jumbotron .h2, .jumbotron h2 {
    font-size: 42px;
    line-height: 1.4;
  }

}