<% if signed_in? %>
  <h4>Add a review:</h4>
  <%= bootstrap_form_for([@product, @comments.build]) do |f| %>
      
      <%= f.text_area :body, hide_label: true, required: true %>
      
      <p><div class="rating"></div></p>
      
    
      <%=f.form_group do %>
        <%= f.primary "Submit review" %>
      <% end %>
  <% end %>
<% end %>


    