<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Fruitree Products</h1>
  

</div>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</div>


<div class="container space">
  <%= link_to 'Add New Product', new_product_path %>
</div>



</div>
